Repository fabiodelllima/terraviva-ecommerce-fullstack: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, eslint, prettier

pyright:
  name: pyright
  entry: bash -c 'cd terraviva/backend && pyright .'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd terraviva/frontend && npm run lint'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd terraviva/frontend && npm run format'
  language: system
  pass_filenames: false

fix(deps): Fix Pygments vulnerability
  terraviva/backend/requirements/base.txt
Due: none

fix(deps): Fix lodash vulnerability via overrides
  terraviva/frontend/package-lock.json
  terraviva/frontend/package.json
Due: prettier

fix(deps): Bump Django to 6.0.4 and add picomatch override to resolve security alerts
  terraviva/backend/requirements/base.txt
  terraviva/frontend/package-lock.json
  terraviva/frontend/package.json
Due: prettier

chore(ci): Add explicit Dependabot configuration
  .github/dependabot.yml
Due: none

docs(security): Add security policy and vulnerability reporting guidelines
  SECURITY.md
Due: none

chore(ci): Add Docker ecosystem to Dependabot configuration
  .github/dependabot.yml
Due: none

fix(ci): Set keepalive cron to 14min interval to prevent Render cold start
  .github/workflows/keepalive.yml
Due: none

fix(ci): Remove duplicated commit prefix in Dependabot config
  .github/dependabot.yml
Due: none

fix(security): Bump pillow 12.1.1 -> 12.2.0 (CVE FITS GZIP decompression bomb)
  terraviva/backend/requirements/base.txt
Due: none

fix(security): Bump pytest 8.3.4 -> 9.0.3 (CVE vulnerable tmpdir handling)
  terraviva/backend/requirements/dev.txt
Due: none

chore(deps): Remove unused pyiceberg dependency
  terraviva/backend/requirements/base.txt
Due: none

chore(ci): Ignore cachetools>=7 and rich>=15 in Dependabot
  .github/dependabot.yml
Due: none

chore(deps-dev): Upgrade eslint 9 → 10 with coordinated stack bump
  terraviva/frontend/package-lock.json
  terraviva/frontend/package.json
Due: prettier

fix(frontend): Adjust code to pass eslint 10 strict checks
  terraviva/frontend/src/components/OrderSummary.vue
  terraviva/frontend/src/router/index.js
  terraviva/frontend/src/views/Cart.vue
  terraviva/frontend/src/views/Checkout.vue
  terraviva/frontend/src/views/Search.vue
Due: eslint, prettier

feat(frontend): Upgrade eslint 9 → 10 with coordinated stack bump (#64)
  terraviva/frontend/package-lock.json
  terraviva/frontend/package.json
  terraviva/frontend/src/components/OrderSummary.vue
  terraviva/frontend/src/router/index.js
  terraviva/frontend/src/views/Cart.vue
  terraviva/frontend/src/views/Checkout.vue
  terraviva/frontend/src/views/Search.vue
Due: eslint, prettier

fix(ci): Adjust keepalive timeouts to absorb Render cold start
  .github/workflows/keepalive.yml
Due: none

fix(ci): Adjust keepalive timeouts to absorb Render cold start (#65)
  .github/workflows/keepalive.yml
Due: none

fix(frontend): Upgrade vite 6 -> 8 with coordinated plugin-vue bump
  terraviva/frontend/package-lock.json
  terraviva/frontend/package.json
Due: prettier

fix(frontend): Upgrade vite 6 -> 8 with coordinated plugin-vue bump (#70)
  terraviva/frontend/package-lock.json
  terraviva/frontend/package.json
Due: prettier

refactor(storage): Migrate SupabaseStorage from supabase to storage3
  terraviva/backend/config/storage.py
Due: pyright

chore(deps): Remove supabase umbrella in favor of storage3
  terraviva/backend/requirements/base.txt
Due: none

test(product): Add unit tests for ImageService
  terraviva/backend/apps/product/tests.py
Due: pyright

test(product): Add factory_boy factories for Category and Product
  terraviva/backend/apps/product/factories.py
Due: pyright

test(product): Add unit tests for selectors
  terraviva/backend/apps/product/tests.py
Due: pyright

chore(lint): Pin pyright in requirements and remove ad-hoc CI install
  .github/workflows/ci.yml
  terraviva/backend/requirements/dev.txt
Due: none

chore(lint): Suppress factory_boy private-import warnings
  terraviva/backend/pyproject.toml
Due: none

test(order): Add integration tests for OrderService.create_order and process_checkout
  terraviva/backend/apps/order/tests.py
Due: pyright

test(order): Add E2E tests for /api/v1/checkout/ endpoint
  terraviva/backend/apps/order/tests.py
Due: pyright

fix(deps): Bump Node base image to 24-alpine (LTS)
  terraviva/frontend/Dockerfile
Due: prettier

fix(deps): Bump Node base image to 24-alpine (LTS) (#86)
  terraviva/frontend/Dockerfile
Due: prettier

fix(deps): Bump idna to 3.16 and unpin pydantic_core for CVE-2026-45409
  terraviva/backend/requirements/base.txt
Due: none

fix(deps): Bump idna to 3.16 and unpin pydantic_core for CVE-2026-45409 (#93)
  terraviva/backend/requirements/base.txt
Due: none

chore(ci): Add Dependabot cooldown and target develop branch
  .github/dependabot.yml
Due: none

chore(ci): Add Dependabot cooldown and target develop branch (#95)
  .github/dependabot.yml
Due: none

fix(deps): Bump social-auth-core and social-auth-app-django majors together
  terraviva/backend/requirements/base.txt
Due: none

chore(deps): Release cachetools and rich pins, fix Dependabot ignores
  .github/dependabot.yml
  terraviva/backend/requirements/base.txt
Due: none

chore(deps): Release cachetools and rich pins, fix Dependabot ignores (#138)
  .github/dependabot.yml
  terraviva/backend/requirements/base.txt
Due: none

fix(ci): Remove semver cooldown fields unsupported by docker and actions
  .github/dependabot.yml
Due: none

fix(ci): Remove semver cooldown fields unsupported by docker and actions (#139)
  .github/dependabot.yml
Due: none

Path conditions:
  pyright: any of: ^terraviva/backend/.*\.py$
  eslint: any of: ^terraviva/frontend/.*\.(js|vue)$
  prettier: any of: ^terraviva/frontend/
