Repository fabiodelllima/terraviva-ecommerce-fullstack: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.3
    hooks:
      - id: ruff
        args: [--fix]
        files: ^terraviva/backend/
      - id: ruff-format
        files: ^terraviva/backend/

  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: bash -c 'cd terraviva/backend && pyright .'
        language: system
        files: ^terraviva/backend/.*\.py$
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd terraviva/frontend && npm run lint'
        language: system
        files: ^terraviva/frontend/.*\.(js|vue)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd terraviva/frontend && npm run format'
        language: system
        files: ^terraviva/frontend/
        pass_filenames: false

chore(backend): Add reportCallIssue to pyright ignores
  terraviva/backend/pyproject.toml
Due: none

feat(order): Add OrderService and PaymentService
  terraviva/backend/apps/order/services.py
Due: pyright

refactor(order): Use OrderService in views
  terraviva/backend/apps/order/views.py
Due: pyright

feat(product): Add selectors for query logic
  terraviva/backend/apps/product/selectors.py
Due: pyright

refactor(product): Use selectors in views
  terraviva/backend/apps/product/views.py
Due: pyright

fix(ci): Install base dependencies for pyright type checking
  .github/workflows/ci.yml
Due: none

fix(ci): Install dev dependencies for pyright
  .github/workflows/ci.yml
Due: none

chore(backend): Ignore missing imports in pyright
  terraviva/backend/pyproject.toml
Due: none

feat(product): Add ImageService for image processing
  terraviva/backend/apps/product/services.py
Due: pyright

refactor(product): Use ImageService in Product model
  terraviva/backend/apps/product/models.py
Due: pyright

chore(backend): Add django-types for pyright compatibility
  terraviva/backend/apps/order/models.py
  terraviva/backend/requirements/dev.txt
Due: pyright

chore(backend): Clean up pyright configuration
  terraviva/backend/pyproject.toml
Due: none

feat(order): Add centralized exceptions module
  terraviva/backend/apps/order/exceptions.py
Due: pyright

feat(order): Add validators for defensive programming
  terraviva/backend/apps/order/validators.py
Due: pyright

feat(order): Add StripeGateway in infrastructure layer
  terraviva/backend/apps/order/gateways/__init__.py
  terraviva/backend/apps/order/gateways/stripe.py
Due: pyright

fix(backend): Bump Python dependencies to resolve Dependabot alerts
  terraviva/backend/requirements/base.txt
Due: none

fix(frontend): Bump npm dependencies to resolve Dependabot alerts
  terraviva/frontend/package-lock.json
Due: prettier

fix(storage): Add type annotation to resolve Pyright reportOptionalMemberAccess
  terraviva/backend/config/storage.py
Due: pyright

refactor(order): Extract StripeGateway to infrastructure layer
  terraviva/backend/apps/order/gateways/stripe.py
  terraviva/backend/apps/order/services.py
  terraviva/backend/apps/order/views.py
Due: pyright

refactor(product): Use context manager in ImageService
  terraviva/backend/apps/product/services.py
Due: pyright

fix(config): Disable SSL redirect in test settings
  terraviva/backend/config/settings_test.py
Due: pyright

refactor(config): Remove redundant type annotation in storage
  terraviva/backend/config/storage.py
Due: pyright

chore(config): Add mypy config and pyright suppressions
  terraviva/backend/pyproject.toml
Due: none

chore(deps): Update backend dependencies
  terraviva/backend/requirements/base.txt
Due: none

chore(deps): Update frontend lockfile
  terraviva/frontend/package-lock.json
Due: prettier

docs: Update ARCHITECTURE.md for v0.7.0
  docs/ARCHITECTURE.md
Due: none

docs(changelog): Add v0.7.0 release notes
  CHANGELOG.md
Due: none

docs(readme): Update versions for v0.7.0
  README.md
Due: none

docs(roadmap): Update for v0.7.0
  docs/ROADMAP.md
Due: none

fix(backend): Bump PyJWT 2.10.1 -> 2.12.0 (CVE-2026-32597)
  terraviva/backend/requirements/base.txt
Due: none

test(order): Add characterization tests for validators, services, gateway
  .gitignore
  terraviva/backend/apps/order/tests.py
Due: pyright

fix(deps): Atualizar flatted para corrigir vulnerabilidade (GHSA)
  terraviva/frontend/package-lock.json
Due: prettier

fix(deps): Corrigir vulnerabilidades flatted e minimatch via overrides
  terraviva/frontend/package.json
Due: prettier

fix(frontend): Corrigir formatação do package.json
  terraviva/frontend/package.json
Due: prettier

fix(security): resolve 6 CodeQL alerts — add workflow permissions and sanitize exception exposure
  .github/workflows/ci.yml
  .github/workflows/keepalive.yml
  terraviva/backend/apps/order/views.py
Due: pyright

fix(backend): fix ruff formatting in order views
  terraviva/backend/apps/order/views.py
Due: pyright

fix(deps): force brace-expansion >=1.1.13, bump cryptography >=46.0.6
  terraviva/backend/requirements/base.txt
  terraviva/frontend/package-lock.json
  terraviva/frontend/package.json
Due: prettier

fix(deps): Fix path-to-regexp and serialize-javascript vulnerabilities via overrides
  terraviva/frontend/package.json
Due: prettier
